.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-logo .logo {
    height: 60px; /* Adjust size as needed */
    padding: 0px 0;
}

.nav-links {
    display: flex;
    gap: 20px; /* Space between the links */
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #d3d3d3;
}

